<header>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/"> Blogress </a>

    <ul class="navbar-nav mr-auto" style="display: flex; flex-direction: row;">
      <li class="nav-item">
        <a class="nav-link" href="/admin/categories">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/articles">Artigos</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .nav-item {padding-right: 1rem;}
</style>